@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Game Hub</h1>
    <div>
        <img src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_1f69252c2562422bb4601110e927e0e3/default/light/2.0"
             alt="Twitch emote" width="50" height="50" />
        <img src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_1f69252c2562422bb4601110e927e0e3/default/light/2.0"
             alt="Twitch emote" width="50" height="50" />
        <img src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_1f69252c2562422bb4601110e927e0e3/default/light/2.0"
             alt="Twitch emote" width="50" height="50" />
        <img src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_1f69252c2562422bb4601110e927e0e3/default/light/2.0"
             alt="Twitch emote" width="50" height="50" />
        <img src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_1f69252c2562422bb4601110e927e0e3/default/light/2.0"
             alt="Twitch emote" width="50" height="50" />
    </div>

</div>
